@page
@model Aplicacion1.Pages.LegalServicesModel
@{
	    ViewData["Title"] = "Legal Services";
}
<html >
        <head>
        <link rel="stylesheet" href="~/css/StyleSheet.css" />
    </head>

<body>
    <h1>Legal Serices</h1>
    <div class="mainClass">
        <div class="divCon"> 
            <h1> 
                Derecho Civil
            </h1>
            <p>
                El derecho civil es la rama del derecho que comprende normas de tipo jurídicas que se encargan de regular las relaciones entre las personas o de tipo patrimonial, las cuales pueden ser voluntarias o forzosas, tanto físicas o jurídicas, privadas o públicas.
            </p>
        </div>
         <div class="divCon"> 
            <h1> 
                Derecho Tributario
            </h1>
            <p>
                El derecho civil es la rama del derecho que comprende normas de tipo jurídicas que se encargan de regular las relaciones entre las personas o de tipo patrimonial, las cuales pueden ser voluntarias o forzosas, tanto físicas o jurídicas, privadas o públicas.
            </p>
        </div>
 <div class="divCon"> 
            <h1> 
                Derecho Familiar
            </h1>
            <p>
                El derecho civil es la rama del derecho que comprende normas de tipo jurídicas que se encargan de regular las relaciones entre las personas o de tipo patrimonial, las cuales pueden ser voluntarias o forzosas, tanto físicas o jurídicas, privadas o públicas.
            </p>
        </div>
 <div class="divCon"> 
            <h1> 
                Albitrajes
            </h1>
            <p>
                El derecho civil es la rama del derecho que comprende normas de tipo jurídicas que se encargan de regular las relaciones entre las personas o de tipo patrimonial, las cuales pueden ser voluntarias o forzosas, tanto físicas o jurídicas, privadas o públicas.
            </p>
        </div>
 <div class="divCon"> 
            <h1> 
                Consultorías    
            </h1>
            <p>
                El derecho civil es la rama del derecho que comprende normas de tipo jurídicas que se encargan de regular las relaciones entre las personas o de tipo patrimonial, las cuales pueden ser voluntarias o forzosas, tanto físicas o jurídicas, privadas o públicas.
            </p>
        </div>
 <div class="divCon"> 
            <h1> 
                Tramites Legales    
            </h1>
            <p>
                El derecho civil es la rama del derecho que comprende normas de tipo jurídicas que se encargan de regular las relaciones entre las personas o de tipo patrimonial, las cuales pueden ser voluntarias o forzosas, tanto físicas o jurídicas, privadas o públicas.
            </p>
        </div>
    </div>
</body>
<footer>
	
</footer>
</html>
