@page
@model Aplicacion1.Pages.ProductsModel
@{
    ViewData["Title"] = "Register Product";
}
<body>
    <h1>Products</h1>
    <div>
        <label>Product Name</label>
        <input id="txtName" type="text"/>
    </div>
</body>